# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

## Access

In [ ]:
# install your library here
# %pip install git+https://github.com/lawrennd/fynesse_template.git # TODO: change to your library
%pip install pandas numpy matplotlib scikit-learn osmnx geopandas shapely pyrosm osmium

In [2]:
import pandas as pd
import numpy as np
import osmnx as ox
import pyrosm as pyr
import shapely as shp
import os
import requests
import fynesse
import geopandas as gpd
import yaml
import multiprocessing as mp
import sys
from zipfile import ZipFile
import osmium as osm

%load_ext sql

In [ ]:
# download data

for url in [
    # 2021 Census data

    # NS-SEC
    "https://static.ons.gov.uk/datasets/TS062-2021-5.csv",
    "https://www.nomisweb.co.uk/output/census/2021/census2021-ts062.zip",
    "https://www.nomisweb.co.uk/output/census/2021/census2021-ts062-extra.zip",

    # Industry by age categories
    ("./RM062-2021-3-filtered-2024-11-26T15_05_33Z.csv", "https://static.ons.gov.uk/datasets/3195f3da-ba62-4f47-b03a-51f26092371f/RM062-2021-3-filtered-2024-11-26T15:05:33Z.csv#get-data"),

    # OSM data
    "https://download.openstreetmap.fr/extracts/europe/united_kingdom-latest.osm.pbf",
    
    # Geographic data of census output areas
    ("./output_areas.csv", "https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/csv?layers=0"),
    ("./output_areas.geojson", "https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/geojson?layers=0")
]:

    if isinstance(url, tuple):
        filename, url = url
    else:
        filename = f"./{url.split('/')[-1]}"

    if not os.path.exists(filename):
        print(f"Downloading {url}")
        r = requests.get(url)
        with open(filename, 'wb') as f:
            f.write(r.content)
        print(f"Downloaded {filename}")
    else:
        print(f"Already downloaded {filename}")


    if filename.endswith('.zip') and not os.path.exists(filename.replace('.zip', '')):
        with ZipFile(filename, 'r') as zip_ref:
            zip_ref.extractall()

Already downloaded ./TS062-2021-5.csv
Already downloaded ./census2021-ts062.zip
Already downloaded ./census2021-ts062-extra.zip
Already downloaded ./RM062-2021-3-filtered-2024-11-26T15_05_33Z.csv
Already downloaded ./united_kingdom-latest.osm.pbf
Already downloaded ./output_areas.csv

In [2]:
with open("./credentials.yaml") as file:
  credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = credentials["url"]
port = credentials["port"]

%config SqlMagic.style = '_DEPRECATED_DEFAULT'

%sql mariadb+pymysql://$username:$password@$url?local_infile=1
%sql use ads_2024;

conn = fynesse.access.create_connection(username, password, url, "ads_2024")

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
Connection established!

In [4]:
df = pd.read_csv("census2021-ts062-oa.csv")

# the values in "geography" and "geography code" columns are equal
assert (df['geography'] == df['geography code']).all()

# the values in "geography" column are less than 10 characters
assert (df["geography"].str.len() < 10).all()

In [ ]:
%%sql
DROP TABLE IF EXISTS census_nssec;
CREATE TABLE IF NOT EXISTS census_nssec (
    -- Year of the census
    year INT NOT NULL,

    -- Geography identifiers 
    output_area VARCHAR(10) NOT NULL,
    
    -- Population counts by NS-SEC classification
    total_residents_16_and_over INT NOT NULL,
    higher_managerial_admin_professional INT NOT NULL,
    lower_managerial_admin_professional INT NOT NULL, 
    intermediate_occupations INT NOT NULL,
    small_employers_own_account INT NOT NULL,
    lower_supervisory_technical INT NOT NULL,
    semi_routine_occupations INT NOT NULL,
    routine_occupations INT NOT NULL,
    never_worked_longterm_unemployed INT NOT NULL,
    full_time_students INT NOT NULL,
    
    -- Constraints
    PRIMARY KEY (year, output_area),
    CHECK (total_residents_16_and_over >= 0),
    CHECK (higher_managerial_admin_professional >= 0),
    CHECK (lower_managerial_admin_professional >= 0),
    CHECK (intermediate_occupations >= 0), 
    CHECK (small_employers_own_account >= 0),
    CHECK (lower_supervisory_technical >= 0),
    CHECK (semi_routine_occupations >= 0),
    CHECK (routine_occupations >= 0),
    CHECK (never_worked_longterm_unemployed >= 0),
    CHECK (full_time_students >= 0)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [78]:
command = """LOAD DATA LOCAL INFILE './census2021-ts062-oa.csv' INTO TABLE `census_nssec` \
FIELDS TERMINATED BY ',' \
OPTIONALLY ENCLOSED by '"' \
LINES STARTING BY '' \
TERMINATED BY '\\n' \
IGNORE 1 LINES \
(year, output_area, @geography_code, \
total_residents_16_and_over, higher_managerial_admin_professional, \
lower_managerial_admin_professional, intermediate_occupations, \
small_employers_own_account, lower_supervisory_technical, \
semi_routine_occupations, routine_occupations, \
never_worked_longterm_unemployed, full_time_students);"""

%sql $command

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
188880 rows affected.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS output_area_geometry;
CREATE TABLE IF NOT EXISTS output_area_geometry (
    year INT NOT NULL,                    -- Year of the census

    -- Area codes and names
    code VARCHAR(10) NOT NULL,              -- Output Area code
    lsoa_code VARCHAR(9) NOT NULL,         -- LSOA code 
    lsoa_name VARCHAR(100) NOT NULL,       -- LSOA name in English
    
    -- Geographic coordinates
    bng_easting INT NOT NULL,              -- British National Grid Easting
    bng_northing INT NOT NULL,             -- British National Grid Northing
    latitude DECIMAL(10,8) NOT NULL,       -- Latitude coordinate
    longitude DECIMAL(11,8) NOT NULL,      -- Longitude coordinate
    
    -- Unique identifier
    global_id VARCHAR(36) NOT NULL,

    -- Geometry
    geometry GEOMETRY NOT NULL,            -- Geometry of the output area in WG84
    
    -- Constraints
    PRIMARY KEY (year, code)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [3]:
output_areas_gdf = gpd.read_file("output_areas.geojson")

# set the default geometry column
output_areas_gdf.set_geometry("geometry", inplace=True)

output_areas_gdf.geometry.set_crs(epsg=27700, inplace=True)
output_areas_gdf.geometry = output_areas_gdf.geometry.to_crs(epsg=4326)

In [7]:
l = len(output_areas_gdf)
steps = 1000

for start_idx in range(0, l, steps):
    end_idx = min(start_idx + steps, l)
    print(f"Processing {start_idx} to {end_idx}")
    command = "INSERT INTO output_area_geometry (year, code, lsoa_code, lsoa_name, bng_easting, bng_northing, latitude, longitude, global_id, geometry) VALUES "

    for index, row in output_areas_gdf.iloc[start_idx:end_idx].iterrows():
        command += f"(2021, '{row['OA21CD']}', '{row['LSOA21CD']}', '{row['LSOA21NM'].replace("'", "''")}', '{row['BNG_E']}', '{row['BNG_N']}', '{row['LAT']}', '{row['LONG']}', '{row['GlobalID']}', ST_GeomFromText('{row['geometry'].wkt}', 4326)),"

    command = command.rstrip(",") + ";"
    %sql $command

print("Data loaded successfully")

Processing 0 to 1000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 1000 to 2000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 2000 to 3000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 3000 to 4000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 4000 to 5000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 5000 to 6000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 6000 to 7000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 7000 to 8000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 8000 to 9000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 9000 to 10000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 10000 to 11000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 11000 to 12000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 12000 to 13000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 13000 to 14000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 14000 to 15000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 15000 to 16000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 16000 to 17000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 17000 to 18000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 18000 to 19000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 19000 to 20000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 20000 to 21000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 21000 to 22000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 22000 to 23000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 23000 to 24000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 24000 to 25000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 25000 to 26000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 26000 to 27000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 27000 to 28000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 28000 to 29000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 29000 to 30000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 30000 to 31000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 31000 to 32000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 32000 to 33000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 33000 to 34000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 34000 to 35000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 35000 to 36000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 36000 to 37000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 37000 to 38000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 38000 to 39000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 39000 to 40000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 40000 to 41000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 41000 to 42000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 42000 to 43000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 43000 to 44000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 44000 to 45000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 45000 to 46000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 46000 to 47000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 47000 to 48000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 48000 to 49000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 49000 to 50000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 50000 to 51000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 51000 to 52000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 52000 to 53000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 53000 to 54000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 54000 to 55000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 55000 to 56000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 56000 to 57000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 57000 to 58000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 58000 to 59000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 59000 to 60000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 60000 to 61000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 61000 to 62000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 62000 to 63000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 63000 to 64000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 64000 to 65000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 65000 to 66000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 66000 to 67000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 67000 to 68000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 68000 to 69000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 69000 to 70000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 70000 to 71000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 71000 to 72000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 72000 to 73000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 73000 to 74000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 74000 to 75000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 75000 to 76000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 76000 to 77000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 77000 to 78000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 78000 to 79000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 79000 to 80000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 80000 to 81000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 81000 to 82000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 82000 to 83000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 83000 to 84000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 84000 to 85000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 85000 to 86000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 86000 to 87000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 87000 to 88000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 88000 to 89000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 89000 to 90000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 90000 to 91000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 91000 to 92000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 92000 to 93000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 93000 to 94000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 94000 to 95000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 95000 to 96000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 96000 to 97000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 97000 to 98000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 98000 to 99000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 99000 to 100000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 100000 to 101000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 101000 to 102000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 102000 to 103000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 103000 to 104000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 104000 to 105000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 105000 to 106000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 106000 to 107000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 107000 to 108000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 108000 to 109000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 109000 to 110000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 110000 to 111000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 111000 to 112000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 112000 to 113000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 113000 to 114000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 114000 to 115000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 115000 to 116000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 116000 to 117000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 117000 to 118000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 118000 to 119000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 119000 to 120000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 120000 to 121000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 121000 to 122000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 122000 to 123000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 123000 to 124000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 124000 to 125000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 125000 to 126000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 126000 to 127000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 127000 to 128000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 128000 to 129000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 129000 to 130000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 130000 to 131000
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1000 rows affected.
Processing 131000 to 132000

In [ ]:
%sql select count(*) from output_area_geometry;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

[(188880,)]

In [9]:
rm062 = pd.read_csv("RM062-2021-3-filtered-2024-11-26T15_05_33Z.csv")

In [11]:
industry_key = "Industry (current) (9 categories)"
age_key = "Age (6 categories)"

industries = rm062[industry_key].drop_duplicates().to_list()
ages = rm062[age_key].drop_duplicates().to_list()

pivot_table = rm062.pivot_table(index="Output Areas", columns=[industry_key, age_key], values="Observation", fill_value=0)
pivot_table.head()

Industry (current) (9 categories) A, B, D, E Agriculture, energy and water  \
Age (6 categories)                                 Aged 15 years and under
Output Areas
E00000001                                                              0.0
E00000003                                                              0.0
E00000005                                                              0.0
E00000007                                                              0.0
E00000010                                                              0.0

Industry (current) (9 categories)                                          \
Age (6 categories)                Aged 16 to 24 years Aged 25 to 34 years
Output Areas
E00000001                                         0.0                 0.0
E00000003                                         0.0                 0.0
E00000005                                         0.0                 0.0
E00000007                                         0.0                 0.0
E00000010                                         0.0                 0.0

Industry (current) (9 categories)                                          \
Age (6 categories)                Aged 35 to 49 years Aged 50 to 64 years
Output Areas
E00000001                                         0.0                 0.0
E00000003                                         0.0                 0.0
E00000005                                         0.0                 0.0
E00000007                                         0.0                 0.0
E00000010                                         0.0                 0.0

Industry (current) (9 categories)                         \
Age (6 categories)                Aged 65 years and over
Output Areas
E00000001                                            0.0
E00000003                                            0.0
E00000005                                            1.0
E00000007                                            0.0
E00000010                                            0.0

Industry (current) (9 categories)         C Manufacturing                      \
Age (6 categories)                Aged 15 years and under Aged 16 to 24 years
Output Areas
E00000001                                             0.0                 0.0
E00000003                                             0.0                 0.0
E00000005                                             0.0                 0.0
E00000007                                             0.0                 0.0
E00000010                                             0.0                 0.0

Industry (current) (9 categories)                                          \
Age (6 categories)                Aged 25 to 34 years Aged 35 to 49 years
Output Areas
E00000001                                         0.0                 5.0
E00000003                                         2.0                 0.0
E00000005                                         0.0                 0.0
E00000007                                         1.0                 1.0
E00000010                                         1.0                 0.0

Industry (current) (9 categories)  ...  \
Age (6 categories)                 ...
Output Areas                       ...
E00000001                          ...
E00000003                          ...
E00000005                          ...
E00000007                          ...
E00000010                          ...

Industry (current) (9 categories) O, P, Q Public administration, education and health  \
Age (6 categories)                                                Aged 25 to 34 years
Output Areas
E00000001                                                                        0.0
E00000003                                                                        8.0
E00000005                                                                        1.0
E00000007                                                                        7.0
E00000010                                                                        4.0

Industry (current) (9 categories)                                          \
Age (6 categories)                Aged 35 to 49 years Aged 50 to 64 years
Output Areas
E00000001                                         3.0                 8.0
E00000003                                        12.0                10.0
E00000005                                         4.0                 6.0
E00000007                                         3.0                 2.0
E00000010                                         8.0                11.0

Industry (current) (9 categories)                         \
Age (6 categories)                Aged 65 years and over
Output Areas
E00000001                                            6.0
E00000003                                            8.0
E00000005                                            2.0
E00000007                                            0.0
E00000010                                            2.0

Industry (current) (9 categories)        R, S, T, U Other                      \
Age (6 categories)                Aged 15 years and under Aged 16 to 24 years
Output Areas
E00000001                                             0.0                 0.0
E00000003                                             0.0                 0.0
E00000005                                             0.0                 2.0
E00000007                                             0.0                 0.0
E00000010                                             0.0                 0.0

Industry (current) (9 categories)                                          \
Age (6 categories)                Aged 25 to 34 years Aged 35 to 49 years
Output Areas
E00000001                                         1.0                 4.0
E00000003                                         5.0                 5.0
E00000005                                         0.0                 1.0
E00000007                                         2.0                 1.0
E00000010                                         2.0                10.0

Industry (current) (9 categories)
Age (6 categories)                Aged 50 to 64 years Aged 65 years and over
Output Areas
E00000001                                         2.0                    2.0
E00000003                                         7.0                    3.0
E00000005                                         1.0                    1.0
E00000007                                         3.0                    0.0
E00000010                                         1.0                    2.0

[5 rows x 54 columns]

In [15]:
# create and fill industry -> industry code table and age -> age code table

industry_codes = rm062[[industry_key, industry_key + " Code"]].drop_duplicates().set_index(industry_key).to_dict()[industry_key + " Code"]
age_codes = rm062[[age_key, age_key + " Code"]].drop_duplicates().set_index(age_key).to_dict()[age_key + " Code"]

max_len_industry = max(len(s) for s, _ in industry_codes.items())
max_len_age = max(len(s) for s, _ in age_codes.items())

max_len_age, max_len_industry

(23, 77)

In [14]:
%%sql
DROP TABLE IF EXISTS industry_codes;
CREATE TABLE IF NOT EXISTS industry_codes (
    code INT NOT NULL,
    description VARCHAR(100) NOT NULL,
    
    -- Constraints
    PRIMARY KEY (code)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

DROP TABLE IF EXISTS age_codes;
CREATE TABLE IF NOT EXISTS age_codes (
    code INT NOT NULL,
    description VARCHAR(100) NOT NULL,
    
    -- Constraints
    PRIMARY KEY (code)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [16]:
for industry, code in industry_codes.items():
    %sql INSERT INTO industry_codes (code, description) VALUES ('{code}', '{industry}');

for age, code in age_codes.items():
    %sql INSERT INTO age_codes (code, description) VALUES ('{code}', '{age}');

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.
 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
1 rows affected.

In [17]:
%sql select * from industry_codes;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
9 rows affected.

[(-8, 'Does not apply'),
 (1, 'A, B, D, E Agriculture, energy and water'),
 (2, 'C Manufacturing'),
 (3, 'F Construction'),
 (4, 'G, I Distribution, hotels and restaurants'),
 (5, 'H, J Transport and communication'),
 (6, 'K, L, M, N Financial, real estate, professional and administrative activities'),
 (7, 'O, P, Q Public administration, education and health'),
 (8, 'R, S, T, U Other')]

In [18]:
%sql select * from age_codes;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
6 rows affected.

[(1, 'Aged 15 years and under'),
 (2, 'Aged 16 to 24 years'),
 (3, 'Aged 25 to 34 years'),
 (4, 'Aged 35 to 49 years'),
 (5, 'Aged 50 to 64 years'),
 (6, 'Aged 65 years and over')]

In [23]:
%%sql
DROP TABLE IF EXISTS census_industry_age;
CREATE TABLE IF NOT EXISTS census_industry_age (
    -- Year of the census
    year INT NOT NULL,
    
    -- Output Area code
    output_area VARCHAR(10) NOT NULL,
    
    -- Industry and age codes
    industry_code INT NOT NULL,
    age_code INT NOT NULL,
    
    -- Population count
    observation INT NOT NULL,
    
    -- Constraints
    PRIMARY KEY (year, output_area, industry_code, age_code),
    CHECK (observation >= 0)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

In [24]:
command = """LOAD DATA LOCAL INFILE './RM062-2021-3-filtered-2024-11-26T15_05_33Z.csv' INTO TABLE `census_industry_age` \
FIELDS TERMINATED BY ',' \
OPTIONALLY ENCLOSED by '"' \
LINES STARTING BY '' \
TERMINATED BY '\\n' \
IGNORE 1 LINES \
(@oac, output_area, industry_code, @industry, age_code, @age, observation) set year = 2021;"""

%sql $command

 * mariadb+pymysql://admin:***@database-ads-vl331.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
4533120 rows affected.

[]

In [8]:
example_output_area = "E00000001"

# get data on the output area
cursor = conn.cursor()
cursor.execute(f"SELECT year, code, lsoa_code, lsoa_name, bng_easting, bng_northing, latitude, longitude, global_id, ST_AsText(geometry) FROM output_area_geometry WHERE code = '{example_output_area}'")
output_area = cursor.fetchone()
cursor.close()

# Create GeoDataFrame
gdf = gpd.GeoDataFrame.from_records([output_area], columns=["year", "code", "lsoa_code", "lsoa_name", "bng_easting", "bng_northing", "latitude", "longitude", "global_id", "geometry"])

In [ ]:
# Convert WKT to geometry and set CRS
gdf["geometry"] = gpd.GeoSeries.from_wkt(gdf["geometry"], crs="EPSG:4326")

# Now get all buildings in the output area
buildings = ox.features_from_polygon(gdf["geometry"][0], {"building": True})
buildings

                                                              note  \
element_type osmid
way          34038676                                          NaN
             34038683                                          NaN
             34038687                                          NaN
             260531440  Podium. building:levels is the podium only
             368451106                                         NaN

                                         source  \
element_type osmid
way          34038676                       NaN
             34038683                       NaN
             34038687                       NaN
             260531440  Bing;photographs;survey
             368451106                      NaN

                                                                 geometry  \
element_type osmid
way          34038676   POLYGON ((-0.09455 51.51965, -0.09459 51.51966...
             34038683   POLYGON ((-0.09515 51.52020, -0.09512 51.52018...
             34038687   POLYGON ((-0.09416 51.52010, -0.09417 51.52008...
             260531440  POLYGON ((-0.09206 51.51958, -0.09211 51.51949...
             368451106  POLYGON ((-0.09518 51.52027, -0.09487 51.52034...

                                     name  \
element_type osmid
way          34038676         Defoe House
             34038683   Shakespeare Tower
             34038687     Barbican Centre
             260531440                NaN
             368451106                NaN

                                                    website wheelchair  \
element_type osmid
way          34038676                                   NaN        NaN
             34038683                                   NaN        NaN
             34038687   https://www.barbican.org.uk/theatre        yes
             260531440                                  NaN        NaN
             368451106                                  NaN        NaN

                         wikidata           wikipedia  \
element_type osmid
way          34038676         NaN                 NaN
             34038683   Q15709552                 NaN
             34038687     Q653858  en:Barbican Centre
             260531440        NaN                 NaN
             368451106        NaN                 NaN

                                                                    nodes  \
element_type osmid
way          34038676   [390059184, 10976988556, 1723388962, 172338896...
             34038683   [3722866115, 3722866116, 3722866114, 109721272...
             34038687   [390059234, 390059241, 7792756705, 7792756706,...
             260531440  [390059158, 1248395403, 1248395401, 1685281252...
             368451106  [3722866112, 7792756576, 3722866113, 109721272...

                         addr:housename  ... internet_access:ssid  \
element_type osmid                       ...
way          34038676       Defoe House  ...                  NaN
             34038683               NaN  ...                  NaN
             34038687   Barbican Centre  ...   Barbican Free WiFi
             260531440              NaN  ...                  NaN
             368451106              NaN  ...                  NaN

                                name:en name:ko payment:bancomat  \
element_type osmid
way          34038676               NaN     NaN              NaN
             34038683               NaN     NaN              NaN
             34038687   Barbican Centre  바비칸 센터              yes
             260531440              NaN     NaN              NaN
             368451106              NaN     NaN              NaN

                       payment:maestro payment:mastercard payment:visa  \
element_type osmid
way          34038676              NaN                NaN          NaN
             34038683              NaN                NaN          NaN
             34038687              yes                yes          yes
             260531440             NaN                NaN          NaN
             368451106             NaN                NaN          NaN

                       payment:visa_debit payment:visa_electron  \
element_type osmid
way          34038676                 NaN                   NaN
             34038683                 NaN                   NaN
             34038687                 yes                   yes
             260531440                NaN                   NaN
             368451106                NaN                   NaN

                                    wikimedia_commons
element_type osmid
way          34038676                             NaN
             34038683                             NaN
             34038687   Category:Barbican_Arts_Centre
             260531440                            NaN
             368451106                            NaN

[5 rows x 34 columns]

In [ ]:
all_buildings = gpd.GeoDataFrame()

for idx, row in output_areas_gdf.iterrows():
    try:
        buildings = ox.features_from_polygon(row["geometry"], {"building": True})
        buildings["output_area"] = row["OA21CD"]
        all_buildings = pd.concat([all_buildings, buildings])
        print(f"Processed {idx} with {len(buildings)} total buildings")
    except Exception as e:
        print(f"Error processing {idx}: {e}")

Processed 0 with 5 total buildings
Processed 1 with 7 total buildings
Processed 2 with 7 total buildings
Processed 3 with 52 total buildings
Processed 4 with 1 total buildings
Processed 5 with 6 total buildings
Processed 6 with 31 total buildings
Processed 7 with 6 total buildings
Processed 8 with 5 total buildings
Processed 9 with 66 total buildings
Processed 10 with 6 total buildings
Processed 11 with 11 total buildings
Processed 12 with 189 total buildings
Processed 13 with 214 total buildings
Processed 14 with 109 total buildings
Processed 15 with 108 total buildings
Processed 16 with 28 total buildings
Processed 17 with 3 total buildings
Processed 18 with 6 total buildings
Processed 19 with 51 total buildings
Processed 20 with 73 total buildings
Processed 21 with 17 total buildings
Processed 22 with 41 total buildings
Processed 23 with 89 total buildings
Processed 24 with 17 total buildings
Processed 25 with 5 total buildings
Processed 26 with 16 total buildings
Processed 27 with 57 total buildings
Processed 28 with 4 total buildings
Processed 29 with 107 total buildings
Processed 30 with 7 total buildings
Processed 31 with 81 total buildings
Processed 32 with 23 total buildings
Processed 33 with 86 total buildings
Processed 34 with 114 total buildings
Processed 35 with 59 total buildings
Processed 36 with 65 total buildings
Processed 37 with 22 total buildings
Error processing 38: No data elements in server response. Check log and query location/tags.
Processed 39 with 30 total buildings
Processed 40 with 20 total buildings
Processed 41 with 80 total buildings
Processed 42 with 60 total buildings
Processed 43 with 111 total buildings
Processed 44 with 36 total buildings
Processed 45 with 89 total buildings
Processed 46 with 39 total buildings
Error processing 47: No data elements in server response. Check log and query location/tags.
Error processing 48: No data elements in server response. Check log and query location/tags.
Error processing 49: No data elements in server response. Check log and query location/tags.
Error processing 50: No data elements in server response. Check log and query location/tags.
Processed 51 with 5 total buildings
Processed 52 with 23 total buildings
Processed 53 with 4 total buildings
Error processing 54: No data elements in server response. Check log and query location/tags.
Processed 55 with 2 total buildings
Processed 56 with 17 total buildings
Processed 57 with 8 total buildings
Error processing 58: No data elements in server response. Check log and query location/tags.
Processed 59 with 3 total buildings
Error processing 60: No data elements in server response. Check log and query location/tags.
Error processing 61: No data elements in server response. Check log and query location/tags.
Processed 62 with 4 total buildings
Error processing 63: No data elements in server response. Check log and query location/tags.
Error processing 64: No data elements in server response. Check log and query location/tags.
Error processing 65: No data elements in server response. Check log and query location/tags.
Error processing 66: No data elements in server response. Check log and query location/tags.
Processed 67 with 2 total buildings
Processed 68 with 2 total buildings
Processed 69 with 29 total buildings
Processed 70 with 62 total buildings
Processed 71 with 2 total buildings
Processed 72 with 8 total buildings
Processed 73 with 5 total buildings
Processed 74 with 1 total buildings
Processed 75 with 40 total buildings
Processed 76 with 3 total buildings
Processed 77 with 15 total buildings
Error processing 78: No data elements in server response. Check log and query location/tags.
Processed 79 with 6 total buildings
Processed 80 with 1 total buildings
Processed 81 with 2 total buildings
Error processing 82: No data elements in server response. Check log and query location/tags.
Error processing 83: No data elements in server response. Check log and query location/tags.
Processed 84 with 4 total buildings
Error processing 85: No data elements in server response. Check log and query location/tags.
Processed 86 with 4 total buildings
Processed 87 with 1 total buildings
Processed 88 with 2 total buildings
Processed 89 with 8 total buildings
Processed 90 with 2 total buildings
Processed 91 with 3 total buildings
Processed 92 with 5 total buildings
Processed 93 with 23 total buildings
Processed 94 with 1 total buildings
Processed 95 with 6 total buildings
Error processing 96: No data elements in server response. Check log and query location/tags.
Processed 97 with 25 total buildings
Error processing 98: No data elements in server response. Check log and query location/tags.
Processed 99 with 23 total buildings
Processed 100 with 5 total buildings
Processed 101 with 16 total buildings
Processed 102 with 14 total buildings
Error processing 103: No data elements in server response. Check log and query location/tags.
Error processing 104: No data elements in server response. Check log and query location/tags.
Error processing 105: No data elements in server response. Check log and query location/tags.
Error processing 106: No data elements in server response. Check log and query location/tags.
Error processing 107: No data elements in server response. Check log and query location/tags.
Error processing 108: No data elements in server response. Check log and query location/tags.
Processed 109 with 2 total buildings
Processed 110 with 1 total buildings
Error processing 111: No data elements in server response. Check log and query location/tags.
Processed 112 with 10 total buildings
Processed 113 with 7 total buildings
Processed 114 with 2 total buildings
Processed 115 with 4 total buildings
Processed 116 with 9 total buildings
Processed 117 with 6 total buildings
Processed 118 with 1 total buildings
Processed 119 with 2 total buildings
Error processing 120: No data elements in server response. Check log and query location/tags.
Error processing 121: No data elements in server response. Check log and query location/tags.
Processed 122 with 2 total buildings
Error processing 123: No data elements in server response. Check log and query location/tags.
Processed 124 with 1 total buildings
Processed 125 with 16 total buildings
Processed 126 with 3 total buildings
Processed 127 with 1 total buildings
Processed 128 with 3 total buildings
Processed 129 with 4 total buildings
Processed 130 with 97 total buildings
Error processing 131: No data elements in server response. Check log and query location/tags.
Processed 132 with 3 total buildings
Processed 133 with 5 total buildings
Processed 134 with 2 total buildings
Processed 135 with 9 total buildings
Processed 136 with 1 total buildings
Processed 137 with 12 total buildings
Processed 138 with 13 total buildings
Processed 139 with 1 total buildings
Processed 140 with 2 total buildings
Error processing 141: No data elements in server response. Check log and query location/tags.
Processed 142 with 3 total buildings
Processed 143 with 9 total buildings
Error processing 144: No data elements in server response. Check log and query location/tags.
Processed 145 with 7 total buildings
Error processing 146: No data elements in server response. Check log and query location/tags.
Processed 147 with 31 total buildings
Processed 148 with 11 total buildings
Processed 149 with 13 total buildings
Error processing 150: No data elements in server response. Check log and query location/tags.
Processed 151 with 29 total buildings
Processed 152 with 6 total buildings
Error processing 153: No data elements in server response. Check log and query location/tags.
Processed 154 with 27 total buildings
Processed 155 with 3 total buildings
Error processing 156: No data elements in server response. Check log and query location/tags.
Processed 157 with 3 total buildings
Error processing 158: No data elements in server response. Check log and query location/tags.
Error processing 159: No data elements in server response. Check log and query location/tags.
Error processing 160: No data elements in server response. Check log and query location/tags.
Error processing 161: No data elements in server response. Check log and query location/tags.
Processed 162 with 1 total buildings
Processed 163 with 3 total buildings
Processed 164 with 2 total buildings
Processed 165 with 5 total buildings
Processed 166 with 4 total buildings
Error processing 167: No data elements in server response. Check log and query location/tags.
Processed 168 with 2 total buildings
Processed 169 with 11 total buildings
Processed 170 with 1 total buildings
Processed 171 with 19 total buildings
Processed 172 with 2 total buildings
Processed 173 with 40 total buildings
Error processing 174: No data elements in server response. Check log and query location/tags.
Processed 175 with 39 total buildings
Error processing 176: No data elements in server response. Check log and query location/tags.
Error processing 177: No data elements in server response. Check log and query location/tags.
Processed 178 with 2 total buildings
Processed 179 with 2 total buildings
Processed 180 with 7 total buildings
Error processing 181: No data elements in server response. Check log and query location/tags.
Error processing 182: No data elements in server response. Check log and query location/tags.
Error processing 183: No data elements in server response. Check log and query location/tags.
Processed 184 with 3 total buildings
Processed 185 with 10 total buildings
Processed 186 with 12 total buildings
Processed 187 with 21 total buildings
Error processing 188: No data elements in server response. Check log and query location/tags.
Processed 189 with 2 total buildings
Error processing 190: No data elements in server response. Check log and query location/tags.
Error processing 191: No data elements in server response. Check log and query location/tags.
Processed 192 with 6 total buildings
Processed 193 with 1 total buildings
Processed 194 with 42 total buildings
Processed 195 with 1 total buildings
Processed 196 with 57 total buildings
Processed 197 with 43 total buildings
Processed 198 with 1 total buildings
Processed 199 with 36 total buildings
Processed 200 with 50 total buildings
Processed 201 with 7 total buildings
Processed 202 with 76 total buildings
Processed 203 with 30 total buildings
Processed 204 with 4 total buildings
Processed 205 with 2 total buildings
Processed 206 with 10 total buildings
Processed 207 with 47 total buildings
Processed 208 with 49 total buildings
Processed 209 with 78 total buildings
Processed 210 with 9 total buildings
Processed 211 with 5 total buildings
Processed 212 with 15 total buildings
Processed 213 with 58 total buildings
Processed 214 with 9 total buildings
Processed 215 with 88 total buildings
Processed 216 with 118 total buildings
Processed 217 with 22 total buildings
Processed 218 with 12 total buildings
Processed 219 with 52 total buildings
Processed 220 with 14 total buildings
Processed 221 with 58 total buildings
Processed 222 with 13 total buildings
Processed 223 with 68 total buildings
Processed 224 with 11 total buildings
Processed 225 with 46 total buildings
Processed 226 with 30 total buildings
Processed 227 with 44 total buildings
Processed 228 with 28 total buildings
Processed 229 with 62 total buildings

In [ ]:
all_buildings.to_csv("all_buildings.csv", index=False)

Write a short paragraph summarising what you did in the Access stage.

## Assess

Write a short paragraph summarising what you did in the Assess stage.

In [ ]:
# TODO: your answer here

## Address

In [ ]:
def estimate_students(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    # TODO: implement
    return NotImplementedError


def estimate_something(latitude: float, longitude: float) -> float:
    #TODO: rename function
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated value, percentage, probability, etc
    """
    # TODO: implement
    return NotImplementedError

Write a short paragraph summarising what you did in the Address stage.

In [ ]:
# TODO: your answer here

## Discussion

#### Story and structure

In [ ]:
# Marks awarded for inline explanation and structure, no need for answers here. Go over your notebook to make sure you explain what you did and why.

#### Design decisions

In [ ]:
# TODO: your answer here

#### Comparison

In [ ]:
# TODO: your answer here

#### Reusability

In [ ]:
# TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title and description

In [ ]:
# TODO: title your miniproject

In [ ]:
# TODO: provide a very brief description of the goals of your miniproject

## TODO: Your Project Goes Here

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [ ]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [ ]:
fynesse_url = '<your-url-library-here>'

In [ ]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")